<div class="in-banner-container">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <h1>TECHNOLOGY</h1>
    </div>
  </div>
</div>

<div class="container">
  <a [routerLink]="['/category-main']">
    <div class="document-container">
      <h1>When a Wise Man Points at the Moon the Imbecile Examines his Fake Certificate </h1>
      <p>
       The writer discusses the problems surrounding the dichotomy of real/imaginary certificates, by examining the assumptions included in the prevailing concepts about certification, learning, and competence. He also draws attention to the arbitrariness of work systems, and to the fact that the certification may be a means of exclusion and not just a qualification!
      </p>
      <span>Muhammad Al-Saeed</span>
   </div>
  </a>
  <!-- 2 -->
  <a [routerLink]="['/category-main']">
    <div class="document-container">
      <h1>When a Wise Man Points at the Moon the Imbecile Examines his Fake Certificate </h1>
      <p>
       The writer discusses the problems surrounding the dichotomy of real/imaginary certificates, by examining the assumptions included in the prevailing concepts about certification, learning, and competence. He also draws attention to the arbitrariness of work systems, and to the fact that the certification may be a means of exclusion and not just a qualification!
      </p>
      <span>Muhammad Al-Saeed</span>
   </div>
  </a>
  <a [routerLink]="['/category-main']">
    <div class="document-container">
      <h1>When a Wise Man Points at the Moon the Imbecile Examines his Fake Certificate </h1>
      <p>
       The writer discusses the problems surrounding the dichotomy of real/imaginary certificates, by examining the assumptions included in the prevailing concepts about certification, learning, and competence. He also draws attention to the arbitrariness of work systems, and to the fact that the certification may be a means of exclusion and not just a qualification!
      </p>
      <span>Muhammad Al-Saeed</span>
   </div>
  </a>
</div>
