<div class="orb-wrapper">

    <div id="orb-dynamic-content" class="transition-fade">

        <div class="orb-page-frame orb-blog-4">


            <div class="orb-content">

                <div class="orb-grid">
                    <div class="orb-g-40 orb-sm-100">
                        <div class="rb-object-frame">
                            <div class="orb-photo-frame orb-obj-1">
                                <img src="assets/img/categories/1.jpg" alt="photo">
                            </div>
                            <h1>LITERATURE</h1>
                            <div class="orb-deco"></div>
                        </div>
                    </div>
                    <div class="orb-g-60 orb-sm-100">
                        <div class="orb-blog-frame">
                            <div class="orb-post-text">
                                <h2>When A Wise Man Points At The Moon The Imbecile Examines His Fake Certificate</h2>
                                <p>
                                    Start by answering the potential question in your mind: No, I do not hold a fake certificate and I do not intend to obtain one. The truth is that until recently, I considered it in its various forms to be a form of fraud and swindling, and an impersonation of what many people struggle to achieve legitimately. Rather, I also considered it a sign of laziness and neglect of what an individual must go through in order to reach the highest levels. The certification has always represented a means of credibility for me. It is the dividing line between the learned and the ignorant, between the understanding and the naive, and between those who have determination and those who lack it.
                                </p>
                                <p>
                                    I say “until recently” because my outlook on it has changed radically. I no longer reduce the conflict between the dualities of knowledge and ignorance, activity and laziness, or the like. I also no longer consider it a means of deception as much as it is a sometimes inevitable solution to confronting an arbitrary regime. In a quota system that claims to differentiate on the basis of qualifications and competence, while hiding behind it the agenda of class and racial segregation of all kinds, the fake certificate seems a logical way to circumvent that system and enter the fray of conflict within it. But I'm getting ahead of myself with this. Because I am aware of the indignation and denunciation that this statement might entail, or what might result from it, I am obligated to take a step back and clarify some of the main problems.
                                </p>
                                <p>Young women, and one black man, in lacy white dresses cavort in slow motion in a rose-strewn field, their hair blowing softly in the breeze, caressing a
                                    fragrance bottle with a topper borrowed from a Bernie Sanders bobble head.
                                    Well, yes and no. It is an attempt, said Amber Schaefer, a Sanders supporter, comedian and commercial director, to illustrate that Mr. Sanders has a broad
                                    support base. While the so-called Bernie Bros — the men, mostly white, who
                                    are ardent Sanders fans — get most of the attention, Ms. Schaefer’s spot aims, via a spoof of stereotypically feminine beauty</p>
                                <p>Young women, and one black man, in lacy white dresses cavort in slow motion in a rose-strewn field, their hair blowing softly in the breeze, caressing a
                                    fragrance bottle with a topper borrowed from a Bernie Sanders bobble head.
                                </p>
                            </div>
                            <div class="orb-post-footer">
                                <div class="orb-share"><a [routerLink]="['/categories-inner']" class="text-dark"><img src="assets/img/ui/arrow-1.svg" alt="share"><span>Go Back</span></a></div>
                                <div class="orb-share"><img src="assets/img/ui/user.png" alt="share"><span>Muhammad Al-Saeed</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>