<div id="orb-dynamic-content" class="transition-fade">
    <div class="orb-page-frame orb-portfolio-1">
        <div class="swiper-container orb-slider-3s">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-deco"></div>
                        <div class="orb-grid">
                            <div class="orb-g-100 orb-sm-100">
                                <div class="orb-object-frame">
                                    <div class="orb-photo-frame orb-obj-1">
                                        <img src="assets/img/categories/1.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption">
                                        <a [routerLink]="['/categories-inner']"><h2>LITERATURE</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-deco"></div>
                        <div class="orb-grid">
                            <div class="orb-g-100 orb-sm-100">
                                <div class="orb-object-frame">
                                    <div class="orb-photo-frame orb-obj-1">
                                        <img src="assets/img/categories/2.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption">
                                        <a [routerLink]="['/categories-inner']"><h2>TECHNOLOGY</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-deco"></div>
                        <div class="orb-grid">
                            <div class="orb-g-100 orb-sm-100">
                                <div class="orb-object-frame">
                                    <div class="orb-photo-frame orb-obj-1">
                                        <img src="assets/img/categories/3.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption">
                                        <a [routerLink]="['/categories-inner']"><h2>CULTURE</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-deco"></div>
                        <div class="orb-grid">
                            <div class="orb-g-100 orb-sm-100">
                                <div class="orb-object-frame">
                                    <div class="orb-photo-frame orb-obj-1">
                                        <img src="assets/img/categories/4.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption">
                                        <a [routerLink]="['/categories-inner']"><h2>BUSINESS</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-deco"></div>
                        <div class="orb-grid">
                            <div class="orb-g-100 orb-sm-100">
                                <div class="orb-object-frame">
                                    <div class="orb-photo-frame orb-obj-1">
                                        <img src="assets/img/categories/5.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption">
                                        <a [routerLink]="['/categories-inner']"><h2>TOURISM</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orb-nav-frame">
                <div class="orb-nav">
                    <div class="orb-nav-label">Next Work</div>
                    <div class="orb-prev"><img src="assets/img/ui/arrow-1.svg" alt="arrow"></div>
                    <div class="orb-next"><img src="assets/img/ui/arrow-1.svg" alt="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>