<app-pre-loader></app-pre-loader>
<div id="orb-dynamic-content" class="transition-fade">
    <div class="orb-page-frame orb-home-2">
        <div class="swiper-container orb-banner-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-grid orb-sm-reverse">
                            <div class="orb-g-100">
                                <div class="rb-object-frame" data-swiper-parallax-opacity="0">
                                    <div class="orb-photo-frame orb-from-top orb-obj-1" data-swiper-parallax="-100" data-swiper-parallax-scale="1.2">
                                        <img src="assets/img/banner/banner1.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                        <div class="orb-main-title" data-swiper-parallax-y="-200" data-swiper-parallax-scale=".8">
                                            <div class="orb-suptitle"><span>Arabic Library</span></div>
                              <h1> Bridging Cultures, <br> Enriching Minds</h1>
                                        </div>
                                        <div class="orb-button-and-descr">
                                            <a href="#" class="orb-button">
                                                <div class="orb-arrow"><img src="assets/img/ui/arrow-2.svg" alt="arrow"></div>
                                                <span>All <br>Articles</span>
                                            </a>
                                            <div class="orb-description" data-swiper-parallax="200">
                                                <span>It was a fun and stylish photo shoot with a unique person</span>
                                                <div class="orb-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-grid orb-sm-reverse">
                            <div class="orb-g-100">
                                <div class="rb-object-frame" data-swiper-parallax-opacity="0">
                                    <div class="orb-photo-frame orb-from-top orb-obj-1" data-swiper-parallax="-100" data-swiper-parallax-scale="1.2">
                                        <img src="assets/img/banner/banner2.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                        <div class="orb-main-title" data-swiper-parallax-y="-200" data-swiper-parallax-scale=".8">
                                            <div class="orb-suptitle"><span>Arabic Library</span></div>
                              <h1> Bridging Cultures, <br> Enriching Minds</h1>
                                        </div>
                                        <div class="orb-button-and-descr">
                                            <a href="#" class="orb-button">
                                                <div class="orb-arrow"><img src="assets/img/ui/arrow-2.svg" alt="arrow"></div>
                                                <span>All <br>Articles</span>
                                            </a>
                                            <div class="orb-description" data-swiper-parallax="200">
                                                <span>It was a fun and stylish photo shoot with a unique person</span>
                                                <div class="orb-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="orb-content">
                        <div class="orb-grid orb-sm-reverse" data-swiper-parallax-opacity="0">
                            <div class="orb-g-100">
                                <div class="rb-object-frame">
                                    <div class="orb-photo-frame orb-from-top orb-obj-1" data-swiper-parallax="-100" data-swiper-parallax-scale="1.2">
                                        <img src="assets/img/banner/banner.jpg" alt="photo">
                                    </div>
                                    <div class="orb-slide-caption" data-swiper-parallax="0" data-swiper-parallax-opacity="0">
                                        <div class="orb-main-title" data-swiper-parallax-y="-200" data-swiper-parallax-scale=".8">
                                            <div class="orb-suptitle"><span>Arabic Library</span></div>
                                            <h1> Bridging Cultures, <br> Enriching Minds</h1>
                                        </div>
                                        <div class="orb-button-and-descr">
                                            <a href="#" class="orb-button">
                                                <div class="orb-arrow"><img src="assets/img/ui/arrow-2.svg" alt="arrow"></div>
                                                <span>All <br>Articles</span>
                                            </a>
                                            <div class="orb-description" data-swiper-parallax="200">
                                                <span>It was a fun and stylish photo shoot with a unique person</span>
                                                <div class="orb-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orb-navigation">
                <div class="orb-pagination"></div>
                <div class="orb-nav">
                    <div class="orb-prev"><img src="assets/img/ui/arrow-2.svg" alt="arrow"></div>
                    <div class="orb-next"><img src="assets/img/ui/arrow-2.svg" alt="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>